.shoppingList-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.shoppingList-container h1 {
    text-align: center;
}

.shoppingList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.sort-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 10px;
}

.logo-sort {
    width: 50px;
    height: 50px;
}


.logo-sort {
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
}

.logo-sort.selected {
    border: 2px solid black;
}

.logo-sort.deselected {
    filter: grayscale(50%) brightness(0.8);
}


.shoppingList-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin: 10px;
    padding-top: 20px;
    overflow: auto;
}

.shoppingList-cards::-webkit-scrollbar {
    display: none;
}


.shoppingList-search {
    width: 60%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}



.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.icons-container {
    margin-left: 10px;
    flex-direction: row;
    display: flex;
}

.ext-icon {
    padding: 5px;
    height: 35px;
    width: 35px;
}

.ext-icon {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.ext-icon.active {
    opacity: 1;
    border: 2px solid #000;
    border-radius: 5px;
    transform: scale(1.05);
}

.card-notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2.5rem;
    flex-direction: column;
}
