.shoppingList-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.shoppingList-container h1 {
    text-align: center;
}

.shoppingList-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 10px;
}